<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-4">
    <div>
      <div class="text-center max-w-4xl mx-auto">

        <p
          class="text-black mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          Call M.O.M. to help.   
        </p>
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Stopping fraud, protecting privacy and fighting for freedom.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">

        <a
          class="items-center justify-center font-medium focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
          href="https://lexingtonthemes.com"
          >011-2228822 &nbsp;
        </a>
      </div>
      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-slate-500">
          <strong class="text-slate-700"
            >Incident Response</strong
          > ━ What to do in case of a data breech.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Investigations</strong> ━ Finding and solving the root cause.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Defense</strong> ━ Protecting your privacy.
        </div>
      </dl>
    </div>

  </div>
</section>
